
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Army Soldier Generator</title>
    <style>
        body {
          background-color: rgb(101, 97, 160);
        }
    </style>
</head>
<body>
    <h1>Welcome to Army Soldier Generator!</h1>
    <h2>Refresh to generate a Soldier Build</h2>
    <h3>Nationality: {{ nationality_response }}</h3>
    <h3>Class: {{ player_class_response }}</h3>
    <h3>Description: {{ build_response }}</h3>
<hr></hr>
<h2> Your new Soldier is: {{ nationality_response }} - {{ player_class_response }} </h2>

<h2>Your last couple of results</h2>
{% for result in view_players %}
Nationality chosen was: {{ result.nationality }} --- Soldier chosen was: {{ result.player_class }}<br>
The description was {{ result.build }}<br><br>
{% endfor %}

</body>
</html>
